<body class="font-sans bg-white min-h-[100vh] m-[5%]">
    <h1 class="text-3xl font-bold mb-4 text-center">VỀ CHÚNG TÔI</h1>
    <div class="container mx-auto my-10">
        <div class="flex flex-col md:flex-row items-center">
            <div class="w-full p-8">
                <h2 class="text-3xl font-bold mb-4 text-left">Công ty Cà phê Starbucks</h2>
                <p class="mb-6 text-left">Mỗi tuần Starbucks trên khắp thế giới phục vụ hàng triệu thức uống đến tay
                    khách hàng. Và Starbucks cam kết rằng sẽ phục vụ từng khách hàng duy nhất tại một thời điểm.</p>
                <p><br>Tất cả cá thức uống của Starbucks sẽ được phục vụ tận tay khách hàng ngay tại quầy bar của
                    quán. <br>

                    <br> Đây là mối liên kết giữa Starbucks và khách hàng. <br>

                    <br> Stabucks cam kết mối liên hệ này xuất phát từ sự trân trọng của chúng tôi – chúng tôi cam kết
                    phục
                    vụ sản phẩm cà phê với chất lượng tốt nhất, tạo mối liên kết đến từng khách hàng và thực hiện trách
                    nhiệm với cộng đồng và xã hội tại nơi Starbucks hoạt động kinh doanh.

                    Khởi nghiệp với một quán chuyên bán cà phê từ hơn 50 năm về trước, đến thời điểm hiện tại, tại mỗi
                    một quốc gia mà Starbucks hướng tới, mỗi một địa điểm mà Starbucks dự định hoạt động kinh doanh,
                    Starbucks cố gắng hoàn thiện và tạo dựng một môi trường tốt hơn những gì mà Starbucks đã làm.
                </p>
            </div>
            <div class="w-full md:w-1/2 fade-left">
                <img src="/assets/banner/about.jpg" alt="" class="w-full h-auto object-cover">
            </div>
        </div>
    </div>
    <div class="container mx-auto my-10">
        <div class="flex flex-col md:flex-row items-center bg-[#378d56aa]">
            <div class="w-full md:w-1/2">
                <img src="/assets/banner/about2.png" alt="" class="w-full h-auto object-cover">
            </div>
            <div class="w-full md:w-1/2 p-8 text-white">
                <h2 class="text-3xl font-bold mb-4 text-left">DỊCH VỤ</h2>
                <p class="mb-6 text-left">DỊCH VỤ NÀY LÀ CỦA CHÚNG MÌNH! là không gian của chúng mình
                    nên mọi thứ ở đây đều vì sự thoải mái của chúng mình. Đừng giữ trong lòng, hãy chia sẻ với chúng
                    mình điều bạn mong muốn để cùng nhau giúp trở nên tuyệt vời hơn.</p>
            </div>
        </div>
    </div>
</body>