<!-- component -->
<script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />


<!-- <main class="min-h-screen w-full bg-gray-100 text-gray-700" x-data="layout">
  <div class="flex">
    <article class="w-full p-4">
      <div class="bg-white">
        <div class="py-16 sm:py-24 lg:mx-auto lg:max-w-7xl lg:px-8">
          <div class="flex items-center justify-between px-4 sm:px-6 lg:px-0">
            <h2 class="text-2xl font-bold tracking-tight text-gray-900">Cafe</h2>
          </div>

          <div class="relative mt-8">
            <div class="relative -mb-6 w-full overflow-x-auto pb-6">
              <ul role="list"
                class="mx-4 inline-flex space-x-8 sm:mx-6 lg:mx-0 lg:grid lg:grid-cols-4 lg:gap-x-8 lg:space-x-0">
                <li class="inline-flex w-64 flex-col text-center lg:w-auto" *ngFor="let p of listProduct ">
                  <div class="group relative">
                    <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200">
                      <img src="{{p.image}}"
                        alt="Black machined steel pen with hexagonal grip and small white logo at top."
                        class="h-full w-full object-cover object-center group-hover:opacity-75">
                    </div>
                    <div class="mt-6">
                      <h3 class="mt-1 font-semibold text-gray-900">
                        <a href="#">
                          <span class="absolute inset-0"></span>
                          {{p.name}}
                        </a>
                      </h3>
                    </div>
                  </div>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>

    </article>
  </div>
</main> -->

<main class="bg-white">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/4 mb-4 md:mb-0 border-r">
        <ul class="space-y-4 text-center mt-[60px]">
          <li><a href="#" class="block text-lg">Đặc Sản Của Cộng</a></li>
          <li><a href="#" class="block text-lg">Cà Phê Phố</a></li>
          <li><a href="#" class="block text-lg">Cà Phê Ta</a></li>
          <li><a href="#" class="block text-lg">Trà Cổ Thụ</a></li>
          <li><a href="#" class="block text-lg">Đồ Địa Phương</a></li>
          <li><a href="#" class="block text-lg">Trái Cây</a></li>
          <li><a href="#" class="block text-lg">Sữa Chua</a></li>
          <li><a href="#" class="block text-lg">Topping</a></li>
          <li><a href="#" class="block text-lg">Đồ Ăn Chơi</a></li>
        </ul>
      </div>
      <div class="w-full md:w-3/4 mt-[50px] mb-[40px] p-2">
        <h2 class="text-2xl font-bold mb-4">Đồ Uống Mới Mùa Hè</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <div class="text-center" *ngFor="let p of listProduct ">
            <img src="{{p.image}}" alt="{{p.name}}" class="w-full h-[325px] object-cover mb-2 shadow-xl">
            <h3 class="text-lg font-bold">{{p.name}}</h3>
          </div>
        </div>

      </div>

    </div>
  </div>
</main>