<script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<main class="bg-white">
  <div class="container mx-auto px-4">
    <div class="flex flex-col md:flex-row">
      <div class="w-full md:w-1/4 mb-4 md:mb-0 border-r">
        <ul class="space-y-4 text-center mt-[60px]">
          <li><a href="#" class="block text-lg">Đặc Sản Của Cộng</a></li>
          <li><a href="#" class="block text-lg">Cà Phê Phố</a></li>
          <li><a href="#" class="block text-lg">Cà Phê Ta</a></li>
          <li><a href="#" class="block text-lg">Trà Cổ Thụ</a></li>
          <li><a href="#" class="block text-lg">Đồ Địa Phương</a></li>
          <li><a href="#" class="block text-lg">Trái Cây</a></li>
          <li><a href="#" class="block text-lg">Sữa Chua</a></li>
          <li><a href="#" class="block text-lg">Topping</a></li>
          <li><a href="#" class="block text-lg">Đồ Ăn Chơi</a></li>
        </ul>
      </div>

      <div class="w-full md:w-3/4 mt-[50px] mb-[40px] p-2">
        <h2 class="text-2xl font-bold mb-4">Đồ Uống Mới Mùa Hè</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <div class="text-center" *ngFor="let p of listProduct ">
            <img src="{{p.image}}" alt="{{p.name}}" class="w-full h-[325px] object-cover mb-2 shadow-xl">
            <h3 class="text-lg font-bold">{{p.name}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>