<div>
    <div class="grid sm:grid-cols-2 sm:gap-2 sm:h-[300px] md:h-[500px] lg:h-[600px]">
        <div class=" overflow-hidden group sm:row-span-2">
            <img class="transition-all duration-300 w-full h-full object-cover group-hover:scale-[1.02]"
                src="/assets/banner/banner_trungthu.jpg" alt="">
        </div>
        <div class=" overflow-hidden group">
            <img class="transition-all duration-300 w-full h-full object-cover group-hover:scale-[1.02]"
                src="/assets/banner/banner_trungthu.jpg" alt="">
        </div>
        <div class=" overflow-hidden group">
            <img class="transition-all duration-300 w-full h-full object-cover group-hover:scale-[1.02]"
                src="/assets/banner/banner_trungthu.jpg" alt="">
        </div>
    </div>
</div>

<div class="text-center mb-8 mt-8">
    <h1 class="text-2xl font-bold">THÔNG TIN NỔI BẬT</h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Card 1 -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden relative">
        <img src="/assets/banner/banner_trungthu.jpg" alt="Mid-Week Recharge" class="w-full h-96 object-cover">
        <div class="absolute bottom-0 left-0 right-0 bg-white bg-opacity-75 p-6 h-96">
            <h2 class="text-lg font-bold">MID-WEEK RECHARGE</h2>
            <p class="text-sm text-gray-500">22.05 - 29.05.2024 | EVERY WEDNESDAY</p>
            <p class="text-lg text-yellow-600 mt-4">ENJOY 20% OFF</p>
            <p class="text-sm text-gray-500 mt-2">Cho thức uống và món bánh bất kỳ</p>
            <p class="text-sm text-gray-500">for any beverage and food item</p>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden relative">
        <img src="/assets/banner/banner_trungthu.jpg" alt="Buy One Get One" class="w-full h-96 object-cover">
        <div class="absolute bottom-0 left-0 right-0 bg-white bg-opacity-75 p-6 h-96">
            <h2 class="text-lg font-bold">BUY ONE GET ONE</h2>
            <p class="text-sm text-gray-500">20.05 - 22.05.2024</p>
            <p class="text-lg text-blue-600 mt-4">Ưu đãi MUA 01 TẶNG 01 cho món nước mùa hè</p>
            <p class="text-sm text-gray-500 mt-2">Enjoy a Buy 01 Get 01 on Summer Beverages</p>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="bg-white rounded-lg shadow-md overflow-hidden relative">
        <img src="/assets/banner/banner_trungthu.jpg" alt="Weekend Celebration" class="w-full h-96 object-cover">
        <div class="absolute bottom-0 left-0 right-0 bg-white bg-opacity-75 p-6 h-96">
            <h2 class="text-lg font-bold">WEEKEND CELEBRATION</h2>
            <p class="text-sm text-gray-500">19.05.2024</p>
            <p class="text-lg text-orange-600 mt-4">+5</p>
            <p class="text-sm text-gray-500 mt-2">Gửi tặng eGift cho bạn bè và người thân</p>
            <p class="text-sm text-gray-500">Send an e-Gift to your loved ones</p>
        </div>
    </div>
</div>

<div class="text-center mb-8 mt-8">
    <h1 class="text-2xl font-bold">THÔNG TIN NỔI BẬT</h1>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Card 1 -->
    <div class="relative bg-black rounded-lg shadow-md overflow-hidden">
        <img src="/assets/banner/banner_trungthu.jpg" alt="Tìm cửa hàng" class="w-full h-96 object-cover opacity-60">
        <div class="absolute inset-0 flex flex-col items-center justify-center text-white p-4 h-96">
            <h2 class="text-lg font-bold mb-2">Tìm cửa hàng</h2>
            <p class="text-sm mb-4">Tới và thưởng thức hương vị của chúng tôi</p>
            <button class="bg-transparent border border-white text-white py-2 px-4 rounded-full">Tìm kiếm</button>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="relative bg-black rounded-lg shadow-md overflow-hidden">
        <img src="/assets/banner/banner_trungthu.jpg" alt="Trở thành một phần của chúng tôi"
            class="w-full h-96 object-cover opacity-60">
        <div class="absolute inset-0 flex flex-col items-center justify-center text-white p-4 h-96">
            <h2 class="text-lg font-bold mb-2">Bạn muốn trở thành một phần của chúng tôi?</h2>
            <p class="text-sm mb-4">Đến cửa hàng gần nhất và gặp tôi nhé!</p>
            <button class="bg-transparent border border-white text-white py-2 px-4 rounded-full">Đăng ký</button>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="relative bg-black rounded-lg shadow-md overflow-hidden">
        <img src="/assets/banner/banner_trungthu.jpg" alt="Member Starbucks"
            class="w-full h-96 object-cover opacity-60">
        <div class="absolute inset-0 flex flex-col items-center justify-center text-white p-4 h-96">
            <h2 class="text-lg font-bold mb-2">Member Starbucks</h2>
            <button class="bg-transparent border border-white text-white py-2 px-4 rounded-full">Tham gia</button>
        </div>
    </div>
</div>